
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>New User</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/startbootstrap-sb-admin-2-master/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/startbootstrap-sb-admin-2-master/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {

            $('#registerr').on('click', function () {

               document.location = '@Url.Action("Index", "WhatsappView")';



            });

            $("#dashboard").click(function () {



                var firstname = $("#FirstName").val();
                var lastname = $("#LastName").val();
                var email = $("#InputEmail").val();
                var userPass = $("#Password").val();


                var msg = "";
                if (firstname == "") { msg = "Please fill in the first name! <br/>"; }
                if (lastname == "") { msg = "Please fill in the last name! <br/>"; }

                if (email == "") { msg += "Please fill in the email address <br/>"; }
                if (userPass == "") { msg += "Please fill in the password <br/>"; }
                if (msg != "") {
                    $.confirm({
                        title: 'FIll Out Every Field',
                        content: msg,
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                            close: function () {

                            }
                        }
                    });
                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UserRegistration", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            firstname: firstname,
                            lastname: lastname,
                            email: email,
                            userPass: userPass,
                        },
                        error: function (data) {
                            debugger;
                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                $.confirm({
                                    title: 'Registration Went Wrong',
                                    content: data.msg,
                                    type: 'red',
                                    typeAnimated: true,
                                    buttons: {
                                        close: function () {
                                        }
                                    }
                                });
                            }
                            else {
                               
                                $.confirm({
                                    title: 'User Regisered Successfully',
                                    content: data.msg,
                                    type: 'red',
                                    typeAnimated: true,
                                    buttons: {
                                        close: function () {
                                            var url = "";
                                                    url = '@Url.Action("index", "Home")'; //Default



                                                    window.open(
                                                      url
                                                      // <- This is what makes it open in a new window.
                                                    );

                                        }
                                    }
                                });


                            }

                        },


                    });





                });






            });




                //other functions can be built here as well
            $("#dashboard5").click(function () {

                document.location = '@Url.Action("dashboard", "Home")';
                //alert("You have been clicked!");



            });


        });

    </script>

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="FirstName"
                                               placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="LastName"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="InputEmail"
                                           placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="Password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="RepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button id="registerr" class="btn btn-primary btn-user btn-block" type="submit"> ADD USER</button>

                                </div>
                                <div class="text-center">
                                    <button id="dashboard" class="btn btn-primary pull-right" type="submit"><i class="fa fa-key"></i> dashboard</button>
                                </div>


                                <hr>

                            </form>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/js/sb-admin-2.min.js"></script>
</body>
</html>
